body {
    font-family: 'Montserrat', sans-serif;;
}

h1, h2 {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
}

.truncheons__container {
    display: flex;
    justify-content: space-between;
}

.choices {
    flex: 1;
}

.new__leaderboard {
    flex: 1;
}

.game__play {
    flex: 2;
}

.button {
    display: block;
    margin: 5rem auto;
}

.gameplay__team__dropdowns {
    display: flex;
    flex-direction: column;
}

.dropdownList {
    display: block;
    margin: 1rem auto;
}