body {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    background-image: url('../images/scroll1.jpg');
    background-size: cover;
    background-color: blanchedalmond;
}

h1, h2 {
    font-family: 'MedievalSharp', cursive;
    text-align: center;
    padding-top: 1rem;
}

.truncheons__container {
    display: flex;
    justify-content: space-between;
    margin: 1rem;
}

.choices {
    flex: 1;
}

.new__player {
    background-color: rgb(240, 211, 169);
    padding: 1rem 1rem;
}

.field {
    margin: .5rem;
}

#teamSelection {
    justify-content: left;
}





.new__leaderboard {
    flex: 1;
}

.game__play {
    flex: 2;
}

.button {
    display: block;
    margin-bottom: .5rem;
    margin-left: 2rem;
}

.gameplay__team__dropdowns {
    display: flex;
    flex-direction: column;
}

.dropdownList {
    display: block;
    margin: 1rem auto;
}