.new__player {
  padding: 0.5rem 0.5rem;
  margin: 1rem 0rem;
  background-color: rgba(240, 211, 169, 0.6);
  border: 1px solid black;
  box-shadow: 0px 0px 10px rgb(107, 81, 10);
  border-radius: 1rem;
}

.field {
  margin: 0.5rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}

#teamSelection {
  margin: 0.5rem 0rem;
}

.label {
  font-family: "MedievalSharp", cursive;
  font-weight: bold;
}

.dropdownList {
  font-family: "MedievalSharp", cursive;
  padding: 0.2rem;
  font-size: large;
}

#submitPlayer {
  display: block;
  text-align: center;
  margin: 1rem auto 0.5rem auto;
  font-family: "MedievalSharp", cursive;
  padding: 0.3rem 0.3rem;
  font-size: larger;
}

.gameplay__team__dropdowns {
  display: flex;
  flex-direction: column;
}

.dropdownList {
  display: block;
  margin: 1rem auto;
}
