.new__player {
    padding: .5rem .5rem;
    border: .3rem dotted rgb(49, 48, 49);
    border-radius: 5%;
    margin: 1rem 0rem;
}

.field {
    margin: .5rem;
}

#teamSelection {
    margin: .5rem 0rem;
}

.label {
    font-family: 'MedievalSharp', cursive;
    font-weight: bold;
}

.dropdownList {
    font-family: 'MedievalSharp', cursive;
    padding: .2rem;
    font-size: large;
}

#submitPlayer {
    display: block;
    text-align: center;
    margin: 1rem auto .5rem auto;
    font-family: 'MedievalSharp', cursive;
    padding: .3rem .3rem;
    font-size: larger;
}

.gameplay__team__dropdowns {
    display: flex;
    flex-direction: column;
}

.dropdownList {
    display: block;
    margin: 1rem auto;
}